.terminal {
  padding: 4px 10px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.top-bar {
  background-color: #222;
  border-radius: 10px 10px 0 0;
  color: #D3D3D3;
  height: 60px;
  width: 800px;
  box-sizing: border-box;
  padding: 10px 5px;
  position: relative;
  margin: 0 auto;
}

.dots {
  float: left;
  width: 100px;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.title {
  position: absolute;
  width: 200px;
  text-align: center;
  left: calc(50% - 100px);
  top: 0;
  vertical-align: middle;
}

.red-dot {
  background-color: #e74c3c;
}

.yellow-dot {
  background-color: #f1c40f;
}

.green-dot {
  background-color: #2ecc71;
}

h1 {
  font-size: 12pt;
  font-weight: normal;
}

em {
  color: #3498db;
  font-style: normal;
}

.screen {
  background-color: #222;
  border-radius: 0 0 10px 10px;
  color: #d3d3d3;
  height: 570px;
  position: relative;
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  padding: 10px;
  bottom: 0;
  position: absolute;
}

.img-container {
  display: block;
  width: 700px;
  height: 400px;
  overflow: hidden;
  margin-left: 40px;
}

.imgs {
  width: 718px;
  height: 400px;
  overflow: auto;
}

.imgs img {
  display: inline-block;
  animation: fadein 1s;
}

.subtitle {
  font-weight: bold;
}

.game-data {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-weight: bold;
  width: 250px;
}

.timer {
  display: inline-block;
  width: 120px;
}

.lives {
  color: #2ecc71;
  display: inline-block;
}

.text-info {
  color: #3498db;
  font-weight: bold;
}

.game-text {
  height: 110px;
  overflow: hidden;
}

.text-alert {
  color: #e74c3c;
  font-weight: bold;
}

.text-help {
  color: #f1c40f;
  font-weight: bold;
}

.command-line {
  margin-top: 20px;
}

#user-input {
  background-color: #222;
  border-radius: 0 0 10px 10px;
  border: 0;
  color: #d3d3d3;
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
  width: 600px;
  padding-bottom: 10px;
}

#user-input:focus {
  outline: 0;
}

@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}
